@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.font1{
    font-family: "Source Sans 3", sans-serif;
}

.font2{
    font-family: "Cormorant Garamond", serif;
}

#img1, #img_bot {
    filter: brightness(60%);
    background-blend-mode: normal
}

.thumbs{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.thumb{
    border: 0
}


@import "tailwindcss";

